In [1]:
from connect import babies_params, connect
import page
import pandas as pd

In [2]:
con = connect(babies_params)
pg = page.Page(con)

In [7]:
data = pg.base_data['all']

In [11]:
data.loc[data['classe'].isin(['a','b'])]

      id           nome  dia  mes   ano classe  nota1  nota2  nota3
1      1            Ryo   20    7  1936      a     33     41     42
2      2          Kasha   25   11  1988      a     88     36     48
4      4  Kayleb-Arthur   25    7  1956      b      2     42     24
7      7        Ryleigh   20    1  2010      a     58     33      7
13    13       Shehryar    3    2  1940      a     80     54      8
..   ...            ...  ...  ...   ...    ...    ...    ...    ...
493  493         Elyssa    9    3  1933      b      5     86     40
494  494           Bony   24    9  1980      b     84     94     25
495  495         Sunena   10   10  1995      b     35     44     50
496  496            Wan   19    1  1916      a     15     28     62
499  499           Dick   11    2  1995      b     18     20     21

[225 rows x 9 columns]

In [14]:
data.loc[(data['ano'] >= 1990) & (data['ano'] <= 2000)]

      id          nome  dia  mes   ano classe  nota1  nota2  nota3
10    10      Ambroise   25    7  1990      d     63     35     38
23    23         Donal    6    9  1990      a     52      6     91
32    32        Caradh   19    4  1996      e      3     18     88
42    42        Amelia   10    7  2000      a     82     83     13
50    50          Chak   23    5  1990      d    100     13     90
62    62         Edwin    8    7  1996      d     53     84     15
63    63        Bariah   26    7  2000      b     42     34      6
106  106          Ross    2    6  1991      b     56     17     20
113  113       Harjeev   31    6  1993      a     90     41     82
118  118         Ceryn    5    9  1993      c      9      8     82
135  135    Subramanya   26    7  1998      b     32     44     66
146  146         Tanis   10   12  1990      c     13     39     86
152  152         Beinn   15    5  1991      d     74     31     90
157  157    Jordan-May    4   12  1996      b     55     32      4
163  163       Andrina    7    9  1990      e     36     45      8
170  170      Julianna   16    3  1991      d     77     79     76
185  185        Aribah    2    4  1996      e     75     25     77
196  196       Leighza   16   11  1997      c     24     46     54
223  223          Luka   21   11  1993      b     58     71     76
238  238       Ga-Hyun   29    5  1997      c     98     12     40
241  241       Syuhada   12   10  1995      d     82     82     78
243  243    Angela-Mae   11   10  1991      c     35     49     71
245  245          Gary    6    5  1993      d     54     10     99
247  247        Salman   14    9  1997      d     22     64     44
252  252          Raji   28    6  1994      e     99     25     35
264  264       Glennis   12    5  1990      e     75     28     70
277  277          Aqib   16   10  1991      a     11     75     52
287  287        Seoras    2   10  1999      b     14     36     80
294  294        Mairin   19    6  1994      d     98     87      5
295  295         Dylan   17    7  1996      a     27     69     97
297  297     Harsharan   31   12  1996      a     18     72     21
299  299       Zulekha    1    6  1999      d     45     92     89
304  304        Stacie    5   12  1997      c     26     67     68
314  314         Rohan   12    5  1993      d     16     60     87
315  315       Ceilidh   19    3  1997      b     13     72     68
325  325      Mustaffa   16    2  1995      e     28     88      6
331  331       Kar-Yee   25    4  1991      a     72     78     50
334  334         Lakin   16    7  2000      a     76     75     71
340  340           Roy   13    4  1991      d     46     14     44
350  350          Jane   29   12  1997      c     99     15     48
351  351      Abu-Bakr    2   11  1996      b     80     94     40
353  353          Eion    6    5  1998      b     21     38      1
385  385        Steffi   23    9  1999      a     88     39     10
406  406       Redmond   14    6  1991      e     93     17     33
411  411    Oluwatosin   27    1  1992      c     37     50     98
432  432       Stanley   22   10  1994      e      2     90     38
441  441      Analucia   19    5  1998      a     48     37     22
445  445        Shayne   28    5  1991      b      0     38     21
451  451  Danni-Louise    7    3  2000      a     20     58     84
460  460          Jaia   22   10  1997      b     34     88     10
474  474        Rhodri    8    3  2000      b     81     14      9
475  475         Jason   19   11  1991      e     21     93     99
480  480         Liane   24    9  1990      e     77     53     66
495  495        Sunena   10   10  1995      b     35     44     50
499  499          Dick   11    2  1995      b     18     20     21