In [1]:
from connect import babies_params, connect
import page
import pandas as pd

In [2]:
con = connect(babies_params)
pg = page.Page(con)

In [4]:
pg.chart_data['1']

            nota1
classe
a       52.047170
b       49.369748
c       48.852273
d       51.161616
e       48.431818